.main-container{
  display: block
}
.main-imgs{
  display: flex;
}
.main-img {
  width: 499px;
  height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 3px;
}
#main-img{
  position: relative;
  z-index: 0;
}
.main-heading {
  position: absolute;
  top: 465px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background-color: white;
  text-align: center;
  font-size: 50px;
}
.create-new-container{
  background-color: rgb(255, 238, 241);
  width: 500px;
  margin-top: 20px;
}

.left-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.create-new{
  height: 300px;
  width: 250px;
  background-color: rgb(187 90 58);
  margin: 70px auto;
  padding: 50px;
}
.create-new h1{
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 20px 0px;
}
.btns-main{
  text-align: center;
  border-top: 2px solid white;

}
.create-btn{
  padding: 15px 40px;
  color: rgb(187 90 58);
  font-size: larger;
  border: none;
  margin: 60px 0px;
}