
.update-container{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.update-content{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 400px; 
    padding: 20px;
    margin: 5px;
}
.update-content input{
    padding: 15px;
    margin: 10px;
}
